$color-white: rgb(255, 255, 255);
$color-white-2: rgb(228, 228, 228);
$color-white-3: rgb(207, 207, 207);

$color-black: rgb(0, 0, 0);
$color-black-2: rgb(24, 24, 24);
$color-black-3: rgb(41, 41, 41);



